@import url(colorStyle.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* estilo fondo */

body {
    background-image: url(../img/fondonatural\ .png);
    background-size: cover;
    background-repeat: no-repeat;
}



/* estilos button */
.bt-menu-item{
    background-color: var(--colorFondobotn);
    color: var(--white);
    height: 40px;
    width: 150px;
    border-radius: 10px;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    padding: 7px;
    transition: 0.3s;
    cursor: pointer;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border: 1px solid #183357;
    box-shadow: 0 0 5px 3px var(--blue);
    
}

.bt-menu-item:hover{
    /* background-color:var(--bt-hover) ; */
    transform: scale(1.1);
    border: 1px solid var(--border-btn-activo);
    transition: all 0.2s ease;
    box-shadow: 0 0 8px 5px var(--blue);
}

.btn-Modificador-cerrar{
    background-color: #ffffff00;
    color: var(--white);
    border: 2px solid var(--color-rojo);
    box-shadow: none;
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
    margin-top: 10px;

}

.btn-Modificador-cerrar:hover{
    background-color: var(--color-rojo);
    transform: scale(1.1);
    border: 1px solid var(--color-rojo);
    box-shadow: 0 0 5px 3px var(--color-rojo);
    
}


.label-flotante {
    position: absolute;
    left: 12px;
    top: 12px;
    color: #5e5e5ead;
    transition: all 0.3s ease;
    pointer-events: none; /* Permite hacer clic al input a través del texto */
    z-index: 10;
}

.label-modificador{
    color: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 0.562);
    border-radius: 10px;
    border: none;
    height: 45px;
    width: 100%;
    padding: 10px;
    outline: none;
    font-size: 16px;
}

.input-login {
    position: relative;
    width: 350px; /* Ajusta al ancho que desees */
}

.label-modificador:focus + .label-flotante,
.label-modificador:not(:placeholder-shown) + .label-flotante {
    transform: translateY(-35px); /* Sube la etiqueta */
    font-size: 14px;
    color: #ffffffde; /* Color blanco para que resalte en tu fondo azul */
    font-weight: bold;
}

.label-modificador:focus + .label-flotante,
.label-modificador:not(:placeholder-shown) + .label-flotante {

    
    font-size: 14px;
    color: #ffffff; 
    font-weight: bold;

    /* Esto es vital para que la línea del borde no pase por encima de las letras */
    background-color: rgba(255, 255, 255, 0);
    padding: 0 5px;            /* Espacio a los lados para que no pegue con la línea */
    border-radius: 5px;        /* Opcional: redondea el fondo de la etiqueta */
}

.titulo-general, h2{
    font-size: 30px;
}
